@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap');
:root{
    --Moderate-blue: hsl(238, 40%, 52%);
    --Soft-Red: hsl(358, 79%, 66%);
    --Light-grayish-blue: hsl(239, 57%, 85%);
    --Pale-red: hsl(357, 100%, 86%);

    --Dark-blue: hsl(212, 24%, 26%);
    --Grayish-Blue: hsl(211, 10%, 45%);
    --Light-gray: hsl(223, 20%, 93%);
    --Very-light-gray: rgb(245, 246, 250);
    --White: hsl(0, 0%, 100%);
}
*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--Very-light-gray);
}
textarea{
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    padding: 0.75rem 1.5rem;    
    resize: none;
    color: var(--Dark-blue);
}
textarea::-webkit-scrollbar{
    display: none;
}
.like-component{
    min-width: 40px;
    max-width: 40px;
    background-color: var(--Light-gray);
    padding: 0.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.like-counter{
    color: var(--Moderate-blue);
    font-weight: 500;
    font-size: 18px;
}
.like-btn{
    cursor: pointer;
    display: flex;
}
.card-info{
    display: flex;
    align-items: center;
    gap: 0.875rem;
    height: min-content
}
.card-pic{
    max-width: 36px;
}
.card-avatar{
    display: block;
    width: 100%;
}
.card-name, .card-date{
    font-size: 1rem;
}
.card-name{
    font-weight: 00;
    color: var(--Dark-blue);
}
.card-date{
    color: var(--Grayish-Blue);
}
.card-btn{
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--Moderate-blue);
    font-weight: 700;
    font-size: 1rem;
    height: min-content;
    cursor: pointer;
}
.card-btn-icon{
    max-width: 12px;
    padding-top: 3px;
}
.card-btn-icon img{
    width: 100%;
}
.card-own{
    display: block;
    background-color: var(--Moderate-blue);
    color: var(--White);
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.2;
    padding: 2px 5px;
    border-radius: 2px;

}
.card-actions{
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
}
.card-btn-delete{
    color: var(--Soft-Red);
}
.card-paragraph{
    color: var(--Grayish-Blue);
    line-height: 1.5;
    font-size: 1rem;
    overflow-wrap: anywhere;
}
.card-at{
    color: var(--Moderate-blue);
    font-weight: 500;
}
.card-box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.card{
    max-width: 745px;
    min-height: 170px; 
    background-color: var(--White);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(200, 200, 200, 0.1);
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    padding: 1.5rem;
    column-gap: 1rem;
    row-gap: 0.5rem;
    
}
.card-like{
    grid-area: 1/1/15/2;
    max-height: 110px;
}
.card-header{
    grid-area: 1/2/5/16;
}
.card-actions{
    grid-area: 1/13/5/18;
}
.card-body{
    grid-area: 6/2/17/17;
}
.card-body-box{
    max-height: min-content;
}
.replies-container{
    width: 100%;
    display: flex;
}
.line-container{
    min-width: 80px;
    display: flex;
    justify-content: center;
}
.line-left{
    background-color: var(--Light-gray);
    width: 2px;
    margin-bottom: 0.5rem;
    box-shadow: -1px 0 2px rgba(200, 200, 200, 0.1);
}
.replies-list{
    
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.post{
    max-width: 745px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.post-list, .post-manager{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
.post-list{
    max-width: 100%;
}
.post-manager{
    margin-block: 2rem;
}
.new-comment{
    width: 100%;
    height: 100%;
    max-width: 745px;
    max-height: 146px;
    background-color: var(--White);
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(200, 200, 200, 0.1);
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    gap: 1rem;
}
.nc-form{
    grid-area: 1/2/3/17;
    width: 100%;
    min-width: 530px;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.nc-form-edit-desk{
    grid-area: 6/2/17/17;
}
.nc-form.vlay{
    flex-direction: column;
}
.nc-form.vlay .btn{
    align-self: flex-end;
}
.nc-avatar{
    grid-area: 1/1/2/2;
    height: 42px;
}
.nc-avatar img{
    display: block;
    height: 100%;
}
.nc-form-textbox{
    flex-grow: 1;
    display: flex;
}
.nc-textarea{
    width: 100%;
    min-height: 96px;
    outline: none;
    border: none;
    border: 1px solid var(--Light-gray);
    border-radius: 8px;
}
.nc-textarea:focus, .nc-textarea:hover{
    border-color: var(--Dark-blue);
}
.btn{
    min-width: 104px;
    max-width: 114px;
    height: 48px;

    border: none;
    background-color: var(--Moderate-blue);
    text-transform: uppercase;
    color: var(--White);
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
}
.btn:hover{
    background-color: hsl(238, 72%, 72%);
}
body{
    position: relative;
}
.modal-contanier{
   position: fixed;
   inset: 0;
}

.modal-background{
   position: absolute;
   inset: 0;
   background-color: black;
   opacity: 0.4;
}
.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 1rem;
    max-width: 400px;
    min-height: 250px;
    max-height: 280px;
    background-color: var(--White);
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;
}
.modal-title{
    color: var(--Dark-blue);
    font-size: 1.5rem;
    font-weight: 500;
}
.modal-text{
    color: var(--Grayish-Blue);
    line-height: 1.5;
}
.modal-actions{
    display: flex;
    gap: 1rem;
}
.modal-btn{
    max-width: 50%;
    flex-grow: 1;
    padding: 1rem;
    border: none;
    
    color: var(--White);
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
}
.modal-btn:hover{
    opacity: 0.7;
}
.modal-cancel{
    background-color: var(--Grayish-Blue);
}
.modal-accept{
    background-color: var(--Soft-Red);
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media screen and (max-width: 790px) {
    .card-pic{
        max-width: 32px;
    }
    .nc-form.vlay{
        flex-direction: column;
    }
    .nc-form.vlay .btn{
        align-self: flex-end;
    }
    .nc-form{
        min-width: 80%;

    }
    .new-comment{
        width: 100%;
        max-height: 500px;
        height: fit-content;
        
    }
    .nc-form{
        grid-area: 1/1/3/17;
        flex-direction: column;
    }
    .nc-form .btn{
        align-self: flex-end;
    }
    .nc-avatar{
        grid-area: 2/1/3/2;
    }
    .line-container{
       min-width: 1rem;
       justify-content: flex-start;
    }
    .card{
        grid-template-columns: repeat(17, 1fr);
        place-content: center;
        gap: 1rem;
        padding: 1rem;
    }
    .card-like{
        grid-area: 5/1/6/10;
        max-height: 110px;
    }
    .card-header{
        grid-area: 1/1/2/16;
    }
    .card-actions{
        grid-area: 5/8/6/18;
    }
    .card-body{
        grid-area: 2/1/5/18;
    }
    .like-component{
        min-width: 100px;
        max-width: 100px;
        height: 40px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    
    }
    .post-manager{
        margin-inline: 1rem;
    }
    .post-list, .replies-list, .post{
        gap: 1rem;
        width: 100%;
    }
    .card-name, .card-date{
        font-size: 16px;
    }
    .modal{
        min-height: 225px;
        max-height: 280px;
        width: 100%;
        max-width: 350px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        padding: 1.5rem;
    }
    .modal-title{
        font-size: 1.25rem;
    }
    .nc-avatar{
        height: 36px;
    }
    .card-info{
        gap: 0.8rem;
    }
}